.box:hover {
  background: var(--primary-color);
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(13, 18, 44, 0.25);
}

.box {
  border-radius: 4px;
  box-shadow: 0px 8px 16px 0px rgba(13, 18, 44, 0.25);
}

.boxes a {
  color: #343a40;
}

.boxes a:hover {
  color: #FFF;
}

.boxes .bg-icon{
  background-image: url("/images/docsIcon_rocket.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50%;

  @media (--breakpoint-large) {
    background-position: center;
  }
}
.boxes a:hover .bg-icon{
  background-image: url("/images/docsIcon_rocket_wt.svg");
  background-repeat: no-repeat;

}

.boxes {
  .arrow-right {
    background: url("/images/svg/ic_chevron_right_black_24px.svg");
    position: relative;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
  }
}