.subtitle {
  font-family: $font-family-regular;
  font-size: 22px;
}

.post-title {
  padding-left: 0;
}

.headline {
  font-family: $font-family-bold;

  &--aritcle {
    font-size: 24px;
  }
}

h1,
.lh-title {
  font-size: 40px;
  margin-top: 40px;
  padding: 0;
}

div#prose h2 {
  font-size: 32px;
  margin-top: 80px;
}

h4,
.blue {
  margin: 0;
  padding-top: 16px;
}

.li-title {
  max-width: 250px;
}

.li-title > a {
  font-weight: bold;
}

.li-title ul li a {
  padding: 0 8px 12px 0px;
}

@media (max-width: 480px) {
  h1,
  .lh-title {
    font-size: 24px;
    margin-top: 24px;
    padding: 0;
  }

  h3 {
    font-size: 16px;
    margin-top: 24px;
  }

  h4 {
    font-size: 16px;
  }

  div#prose h2 {
    font-size: 20px;

    margin-top: 64px;
  }

  .subtitle {
    font-family: $font-family-regular;
    font-size: 18px;
    color: #58585a;
  }

  p {
    font-size: 14px;
  }

  .admonition-content {
    font-size: 14px;
  }
}
