.subtitle {
    font-family: $font-family-regular;
    font-size: 22px;    
}

.headline {
    font-family: $font-family-bold;

    &--aritcle {
        font-size: 24px;
    }
}

h1, .lh-title {
    font-size: 40px;
    margin-top: 40px;
    padding: 0;
}

div#prose h2 {
    font-size: 32px; 
    margin-top: 80px;
}


h4, .blue{
    padding-top: 16px;
    padding-left: 24px;
}