.subtitle {
    font-family: $font-family-regular;
    font-size: 18px;    
}

.headline {
    font-family: $font-family-bold;

    &--content {
        font-size: 40px;
    }

    &--aritcle {
        font-size: 24px;
    }
}