#hamburg-icon {
  right: 25px;
  top: 11px;
  width: 30px;
  height: 30px;
  margin: 5px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 2;
  span {
    z-index: 20;
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--text-color-secondary);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    &:nth-child(1) {
      top: 0px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      transition: all .5s ease-in-out .5s;
    }
    &:nth-child(2) {
      top: 10px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      transition: all .5s ease-in-out .5s;
    }
    &:nth-child(3) {
      top: 20px;
      -webkit-transform-origin: left center;
      -moz-transform-origin: left center;
      -o-transform-origin: left center;
      transform-origin: left center;
      transition: all .5s ease-in-out .5s;
    }
  }
  &.open span {
    background: #d3531a;
    &:nth-child(1) {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg);
      top: -3px;
      left: 8px;
      transition: all .5s ease-in-out .5s;
    }
    &:nth-child(2) {

      width: 0%;
      opacity: 0;
      transition: all .5s ease-in-out .5s;
    }
    &:nth-child(3) {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: all .5s ease-in-out .5s;
      top: 20px;
      left: 8px;
    }
  }
  &.open {
    //right: 80%;
    //left: 10%;
    right: 100%;
    left: 10px;
    top: 12px;
    width: 32px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    float: left;
    position: absolute;
  }
}

#hamburg-icon {
  display: none;
}

@media only screen and (max-width: 959px) {
  #hamburg-icon {
    display: block;
  }
}

.order-2 {
  aside {
    transition: right .5s ease-in-out;
  }
}

.bg-blur {
  filter: blur(8px);
  .banner-inner {
    filter: blur(0);
  }
}