.tag{
  li {
    &.btn {
      background: var(--primary-color);
      border-radius: 100px;
      line-height: 2.6;
    }
  }
  //width: 179px;
  .ext-link {
    position: relative;
    span {
      position: absolute;
      display: block;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
    }
    svg {
      transform: scale(1.2);
      path {
        fill: white;
      }
    }
  }
}

.category {
  display: -webkit-inline-box;
  border-radius: 13px;
}

.cat-hl {
  display: -webkit-inline-box;
  width: 80px;
}

mark {
    background-color: #ffe4a6;
    padding: 3px 0;
}

.search_iftags > tr {
  display: flex;
  flex-wrap: wrap;
}