<!-- Attention: Do NOT remove the following form with id="search-input". It must be in the footer of each page, otherwise the vertical navigation doesn't work !!! 
This partial is used in the baseof.html template.
<footer>
  <div class="bg-primary-color-dark bottom-0 left-0 right-0 dn-l fixed pb3 ph3 w-10">
	<form id="site-search-form" action="" role="search">
	<fieldset class="bn ma0 pa0">
	<label class="clip" for="search-input">Search</label>
	<input type="search" id="search-input" class="needs-js bg-left bn f5 input-reset lh-solid mt3 mt0-ns pl4 pv2 w5 white" 
	placeholder="Search the Docs" name="search-input" value="" 
	style="background: transparent url('/images/icon-search.png') no-repeat 0 8px /16px 16px;">
	</fieldset>
	</form>
  </div>
</footer>
-->

<div class="dn">
<footer>
<form id="" action="" role="">
	<fieldset>
	<input type="" id="search-input">
	</fieldset>
	</form>
	  </div>
</footer>
