<header class="header-tags flex-none w-100">
    <div class="flex-auto">
        {{ if .Params.categories }}
        {{ range .Params.categories }}
        <span class="mb2"><a href="{{ "/categories/" | relLangURL }}{{ . | urlize }}" class="f6 mb0-l mb2 link dim mr1 bg-light-blue ph3 pv1 tags">
        {{ humanize . }}
        </a></span>
        {{ end }}
        {{end}}
        {{ if .Params.keywords }}

        {{end}}


        {{ if .Params.tags }}
        {{ range .Params.tags }}
        <span class="mb2"><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" class="f6 mb0-0 mb2 link mid-gray dim mr1 bg-light-blue ph3 pv1 tags">
        {{ humanize . }}
            </a></span>
        {{ end }}
        {{end}}
    </div>

  <h1 class="lh-title mb3 mt2 mt4-l pt4 mid-gray f3">
    {{- if eq .Section "functions" -}}
      {{ .LinkTitle }}
    {{- else -}}
      {{ .Title }}
    {{- end -}}
  </h1>
</header>

<aside class="bw1 pt3 mt2 mid-gray b--mid-gray fn w-100">
  {{ with .Params.description }}
    <div class="f4 fw4 subtitle">
      {{ . | markdownify }}
    </div>
  {{ end }}

  <!--
  NOTE: Removed to test builds without it.
  partial "components/author-github-data" (dict "context" . "size" "110") -->
</aside>

{{ with .Params.featured_image_path }}
  <img src="{{ . }}" alt="Featured Image for {{ $.Title }}" class="mw-100">
{{ end }}

<div id="prose">
  {{- partial "docs/functions-signature.html" . -}}
  {{ .Content }}
</div>
