<div class="cat-boxes w-100-s w-100-m w-50-l ph2-l pv2-l mb0-l mb2-m mb1 nested-copy-line-height">
    <a class="h-100 linkwrap" href="{{ .context.RelPermalink }}">
        <div class="box h-100 bg-white mb2-l mb1 ph3-ns pv4-ns ph3 pv3 flex items-center justify-between">
            <div class="flex-auto tl-ns pl2 w-100 w-80-ns">
                <h3 class="f4 mb2 fw8 bmt1 mt0-l mt2">

                    {{- if eq .context.Section "functions" -}}
                    {{ .context.LinkTitle }}
                    {{- else -}}
                    {{ .context.Title }}
                    {{- end -}}

                </h3>
                <div class="db v-mid w-90 measure-wide mb3 mb0-l f5-ns f6">
                    {{ if .context.Params.description  }}
                    {{ .context.Params.description | markdownify }}
                    {{ else }}
                    {{ .context.Summary  }}
                    {{ end }}
                </div>
            </div>
            <div class="arrow-right db"></div>
        </div>

    </a>
</div>