{{ $section_to_display := .section_to_display  }}

 <div class="w-100 ph4-ns pb5 pb6-ns pt1 mt4 pt3-ns">

  <div class="flex justify-center ">

    <div class="w-100 ph0">

      <div class="flex flex-wrap">
        {{ $interior_classes := .context.Site.Params.flex_box_interior_classes }}
        <section class="flex-ns flex-wrap justify-between w-100 ">
          {{ range $section_to_display }}
            {{ partial "boxes-section-summaries" (dict "context" . "classes" $interior_classes "fullcontent" true) }}
          {{ end }}
        </section>
      </div>

    </div>

  </div>

</div>
