{{ $currentPage := . }}
<nav class="bg-primary-color-dark w-100" role="navigation">
  <div id="hamburg-icon" class="js-toggle absolute right-0" data-target=".docsmenu">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="relative flex-ns flex-wrap items-center justify-start">
      <a href="{{ .Site.BaseURL }}" class="link white pl4 outline-0">
        <h1 class="header-logo pv3 dim f3 lh-solid ml0-ns mr0 mr4-l mv0 pl4-ns">
          <span class="o-0">{{ .Site.Title }}</span>
        </h1>
      </a>
      <div class="header-links absolute right-0">
          <ul class="pv3 list ma0 pa0 dn dib-l pl4 bg-primary-color right-0">
              {{ range .Site.Menus.global }}
              <li class="f5 dib mr4" role="menuitem">
                  {{/* TODO: Create an "Global" active class to show which site one is currently at */}}
                  <a href="{{ .URL }}" class="dim white link{{ if $currentPage.IsMenuCurrent "global" . }} gray {{else}} light-silver{{ end }}">
                  {{ .Name }}
                  {{/* using ".Post" from the menu system to determine if we should show an icon for external links */}}
                  {{ $post_status := printf "%s" .Post }}
                  {{ if eq $post_status "external" }}
                    <span class="pl1">
                        {{ partial "svg/link-ext.svg" (dict "size" "10") }}
                    </span>
                  {{ end }}
                  </a>
              </li>
              {{ end }}
          </ul>
      </div>
  </div>
</nav>
<div  class="docsmenu mobilemenu pb3 dn" style="
    width: 80%;
    float: right;
    position: relative;
    top: 0px;
">
  {{ $currentPage := . }}
  {{ $menu := .Site.Menus.docs.ByWeight }}
  <ul class="bg-primary-color-dark list ph0 ma0 scrolling-touch tc">
    {{ range $menu }}{{ $post := printf "%s" .Post }}
    <li  class="tl ma0 hover-bg-black w-20 {{ if eq $post "break" }} mb2 bb b--mid-gray{{ end }}">
    <a href="{{.URL}}" class="ttu f6 link primary-color-light  hover-white db brand-font mb1  ma0 w-100 pv2 ph4{{if $currentPage.IsMenuCurrent "main" . }} bg-primary-color{{end}}">
    {{ .Name }}
    </a>
    </li>
    {{end}}
  </ul>
</div>

{{ partial "toc-mobile" . }}