<form id="site-search-form" action="/search/" role="search" >
    <fieldset class="bn ma0 pa0">
        <label class="clip" for="search-query">Search</label>
        <input id="search-query"  autocomplete="off" placeholder="Search" name="q"
               class="needs-js bg-left bn f5 input-reset lh-solid mt3 mt0-ns pv2 w5 dark-gray w-90"
               style=" background: transparent url('/images/icon-search.png') no-repeat 0 10px /16px 16px; background-position: right; border-bottom: 1px solid rgb(88, 88, 90);"  />

    </fieldset>
</form>