<footer class="relative w-100" role="contentinfo">

    <div class="f7 gray mb0-ns pa4 w-100 flex-l flex-row-l flex-column items-center db">
        <div class="footer-left pb3 pb0-l">
            <span class="dib mr4 light-gray">© {{ now.Year }} Osram GmbH</span>
        </div>
        <div class="footer-center pb3 pb0-l">
            <a href="https://www.osram.com/cb/services/imprint/index.jsp" target="_blank" class="olt-footer__item dim db pb2 pb0-l di-l ph3-l link light-gray">Imprint</a>
            <a href="https://lightelligence.io/terms-of-use" target="_blank" class="olt-footer__item dim db pb2 pb0-l di-l ph3-l link light-gray">Terms of Use</a>
            <a href="https://lightelligence.io/privacy-policy" target="_blank" class="olt-footer__item dim pb2 pb0-l db di-l ph3-l link light-gray">Privacy Policy</a>
            <a href="https://lightelligence.io/cookie-policy" target="_blank" class="olt-footer__item dim pb2 pb0-l db di-l ph3-l link light-gray">Cookie Policy</a>
            <a href="https://lightelligence.io/contact" target="_blank" class="olt-footer__item dim link pb2 pb0-l db di-l ph3-l light-gray">Contact</a>
        </div>
        <div class="flex items-end justify-end-l justify-start flex-auto flex-wrap footer-right tl tr-l">
            <a class="w4" href="https://www.osram.de/cb/index.jsp" title="Osram" target="_blank">
                <img alt="Osram" src="data:image/svg+xml;base64,
                PHN2ZyB2aWV3Qm94PSIwIDAgNzQ0LjEgMTkyLjgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMj
                A1IDEyMC45Yy0xLjQgMTUuMyAxNC4zIDIzLjYgMjguMyAyMy40IDEwLjQtLjIgMjMuMS0yIDI0LjgtMTUuNiAzLjMtMjcuMy04NS4xLTcuNi04NS44LTY0LjQtLjMtMzAuMSA
                zMC00Ny41IDU5LjQtNDYuNiA0MS44IDEuMiA1OC42IDI0LjYgNTguNiA1MS4xaC0zNC4xczMuMS0yMC4zLTI1LjEtMjEuMWMtMTAuNi0uMy0yMiA0LTIzLjQgMTMuOC0zLjU
                gMjUuNiA4My42IDYuNiA4NC4zIDY0LjYuMiAyOC44LTI2LjQgNDguMy01OS41IDQ3LjgtNjUuOC0uOS02MS45LTQ4LjktNjIuMS01Mi45SDIwNW00ODUuNi0zNC44djgyLjFoM
                zUuOGwtLjEtMTQ2LjhoLTM2bC0zNi44IDYwLjNMNjE5IDIxLjZoLTM3Ljl2MTQ2LjZINjE4Vjg4LjZsMzYgNTguMXptLTE2OS02NC42TDU3NSAxNjguMmgtMzYuNmwtOC42LTI1L
                jZINDcybC04LjkgMjUuNmgtMzYuOWw1My41LTE0Ni42em0tMjAuNiAzN2wtMTguOCA1My4zaDM3LjFMNTAxIDU4LjJ6bS0xMzcuNSA2Mi43aC0yMi4zdjQ2LjlIMzA3VjIxLjdoNz
                VjMjcgMCA0OCAyMy4xIDQ2LjQgNTEuNS0xLjEgMjEuMy0xMC40IDM3LTI5LjkgNDUuOWwyNC41IDQ5LjFoLTM3LjZ6bS0yMi44LTY4LjZoMzQuOWMxMC4zIDAgMTcuMSA5LjEgMTcuNi
                AxOS40LjUgOS02LjUgMjAtMTYuNiAyMGgtMzUuOXptLTI1MSAxMjIuNGM0My45LjIgNzMuMS0zNC44IDcyLjEtNzggMi00Ni40LTI5LjgtNzguMy03Mi4xLTc4LjEtNDEuMyAwLTcyLjM
                gMzIuNC03MiA3OC4xLS41IDQ1LjEgMjguOCA3OS41IDcyIDc4em0wLTEyNS4zYzI1LjktLjQgMzYuOCAyMy4zIDM2LjYgNDcuMS0xLjUgMjEuOS0xMS41IDQ2LTM2LjggNDYuMy0yNC45IDAt
                MzYuNC0yMy40LTM2LjgtNDYuMS41LTIyLjkgMTEuMS00Ny43IDM3LTQ3LjMiIGZpbGw9IiM5OTkiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==">
            </a>
        </div>
    </div>
</footer>
