.banner{
  background-image: url("/images/svg/OSRAM_LT_Illustrations.svg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .banner-inner {
    z-index: 999999;
  }
  @media all and (max-width: 959px) {
    height: 200px;
  }


  /*
  form {
    border-radius: 4px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(13,18,44,.25);
    box-shadow: 0 8px 16px 0 rgba(13,18,44,.25);
  }
  */
  h1 {
    display: block;
    border-bottom: .5px solid #ffffffeb;
    width: 100%;
    transition: all .5s ease-in-out;
    @media (min-width: 960px) {
      border: 0;
      transition: all .5s ease-in-out;
    }
  }

  .site-search-form {
    .search-input {
      background: transparent url('/images/icon-search.png') no-repeat 0 19px /16px 16px;
      background-position: right;
      position: relative;
      right: 16px;
      color: var(--primary-color-dark);
      outline: none;
    }
    transition: top .5s ease-in-out;
  }

  .header-bar {
    h1 {
      @media all and (max-width: 959px) {
        background: var(--primary-color-dark);
      }
    }
  }
}

.site-search-form {
  //width: 50%;
  margin: 0 auto;

  position: relative;
  top: 56px;
  left: 0;
  right: 0;
  transition: top .5s ease-in-out;
  @media (min-width: 960px) {
    top: 120px;
    position: absolute;
    left: 0;
    right: 0;
    transition: top .5s ease-in-out;
  }
}
