.header-bg-image {
  background-image: url("/images/svg/OSRAM_LT_Illustrations.svg");
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .banner-inner {
    z-index: 999;
  }
  @media all and (max-width: 959px) {
    height: 320px;
    position: relative;
  }

  /*
  form {
    border-radius: 4px;
    -webkit-box-shadow: 0 8px 16px 0 rgba(13,18,44,.25);
    box-shadow: 0 8px 16px 0 rgba(13,18,44,.25);
  }
  */
  h1 {
    display: block;
    border-bottom: 0.5px solid #ffffffeb;
    //width: 100%;
    transition: all 0.5s ease-in-out;
    @media (min-width: 960px) {
      border: 0;
      transition: all 0.5s ease-in-out;
    }
  }

  .site-search-form {
    @media all and (min-width: 960px) {
      border-radius: 4px;
      box-shadow: 0 0 5px 0 rgba(13, 18, 44, 0.25);
    }

    transition: top 0.5s ease-in-out, width 0.5s ease-in-out 0.2s;
  }
}

.search-input {
  background: transparent url("/images/icon-search.png") no-repeat 0 19px /16px 16px;
  position: relative;
  right: 16px;
  color: var(--primary-color-dark);
  outline: none;
  background-position: 95%;
  left: 0;

  @media (min-width: 960px) {
    box-shadow: 0 0 9px 0 rgba(172, 173, 178, 0.52);
    border-radius: 4px;
  }
}

.banner-inner {
  @media all and (max-width: 959px) {
    background: var(--primary-color-dark);
  }
}

.site-search-form {
  margin: 0 auto;
  top: 56px;
  transition: width 0.5s ease-in-out;

  @media all and (max-width: 959px) {
    position: sticky;
    width: 90%;
    margin-top: -148px;
    margin-bottom: 148px;
  }

  @media (min-width: 960px) {
    top: 180px;
    position: absolute;
    left: 0;
    right: 0;
    transition: width 0.5s ease-in-out;
    box-shadow: 0 0 5px 0 rgba(13, 18, 44, 0.25);
    border-radius: 4px;
  }
}

.header-bg-image {
  @media all and (min-width: 960px) {
    padding-bottom: 25rem;
  }
}

.banner {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 9999;
  height: 60px;
  background: transparent;
  transition: background-color 0.5s ease-in-out;
  @media all and (max-width: 959px) {
    .header-inner {
      background: var(--primary-color-dark);
    }
    background: var(--primary-color-dark);
    transition: background-color 0.5s ease-in-out;
  }
}
