.chroma .lntable pre {
    padding: 0;
    margin: 0;
    border: 0;
}

.chroma {
  .lntable {
    background: var(--primary-color-dark);
  }
}

.chroma .lntable pre code  {
    padding: 0;
    margin: 0;
}

pre, .pre  {
    overflow-x: auto;
    overflow-y: hidden;
}


/* The Pygments highlighter comes with its own styles. */
.highlight pre {
    background-color: inherit;
    color: inherit;
    //padding: 0.5em;
    font-size: .875rem;
}

p code {
  padding: 1px 5px;
}

code {
  padding: 32px;
}

code, .hljs {
  padding: 32px;
  font-size: 12px;
  @media all and (min-width: 960px)  {
    font-size: 14px;
  }
}

code.hljs {
  color: var(--primary-color-light);
}

/*We are adding the copy button content here so we can change it with javascript. See the "Clipboard scripts"*/
.copy:after {
    content: "Copy";
    font-family: $font-family-regular;
    cursor: pointer;
}

.copied:after {
    content: "Copy";
    color: #02BF1B;
    font-family: $font-family-regular;
    cursor: pointer;
}

.copied {
  svg {
    width: 12px;
    height: 12px;

    g > path {
        fill: #02BF1B;
    }
}
}

@media (--breakpoint-large) {
    .full-width, pre.expand:hover
    {
        overflow: initial;
        position: relative;
        /*width: 60vw;*/
        // left: -50%;
        // right: -50%;
        /*margin-left: -30vw;*/
        margin-right: -30vw;
        max-width: 100vw;
        box-shadow: 0px 8px 16px 0px rgba(13, 18, 44, 0.25);
    }
}

.code-block .line-numbers-rows {
    background: #2f3a46;
    border: none;
    bottom: -50px;
    color: #98a4b3;
    left: -178px;
    padding: 50px 0;
    top: -50px;
    width: 138px
}


.code-block .line-numbers-rows>span:before {
  color: inherit;
  padding-right: 30px
}

.nested-links a {
  color: var(--primary-color);
  text-decoration: none;
  outline: none;
}

.nested-links a:hover {
  color: var(--primary-color);
  transition: color .15s ease-in;
  outline: none;
}

.nested-links a:focus {
  color: #solid var(--primary-color);
  transition: color .15s ease-in;
  outline: none;
}

.nested-links {
  .pagination a.link{
    color: var(--light-gray);
    text-decoration: none;
    &:hover {
      color: #solid var(--primary-color);
      transition: color .15s ease-in;
      outline: none;
    }
  }
  .pagination span {
    line-height: .9;
    &.left {
      padding-right: 10px;
    }
    &.right {
      padding-left: 10px;
    }
  }
  .pagination {
    svg {
      width: 24px;
      height: auto;
      g > path {
        fill: var(--light-gray);
      }
    }
  }
}

.nested-links {
  a.tags {
    color: var(--blue);
    border-radius: 12.5px;
    height: 25px;
    width: 86px;
    &:hover {
      background: lighten( rgba(70, 180, 205, 0.2),10);
    }
  }
}

.search_tags {
  border-radius: 12.5px;

  &--blue {
    color: var(--blue);
    border-radius: 12.5px;

  }
}
