.header-logo {
  background: url(/images/svg/lightelligenceDocs_logo.svg);
  background-repeat: no-repeat;
  background-position: center;
  width: 250px;
  height: 50px;
  background-size: contain;
  &.bg-none {
    background: none;
  }
}


.header-links {
  background-color:  var(--primary-color);
  border-top: 1px solid var(--primary-color);
  transition: all .5s ease-in-out;
  li {
    position: relative;
    &:not(:first-child) {
      &:before {
        content: "";
        width: 1px;
        height: 25px;
        background: #fff;
        display: block;
        position: absolute;
        left: -20px;
      }
    }
  }
}

.header-detail {
  overflow: hidden;
}

#bg-blur {
  article {
    @media all and (min-width: 480px) and (max-width: 959px) {
      padding-top: 3rem;
    }
  }
  position: relative;
  @media all and (max-width: 959px) {
    &.top-pos {
      top: 50px;
    }
  }
}

.header-bar {
  @media all and (max-width: 959px) {
    > a {
      background: var(--primary-color-dark);
      height: 56px;
      transition: background-color .5s ease-in-out;
    }
  }
}
@media all and (max-width: 959px) {
  .docsmenu {
    width: calc(100% - 55px);
  }
}