.main-content {
  background-color: #fff;
  -moz-border-radius: 20px;
  border-radius: 5px;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  @media all and (max-width: 1200px) {
    border-radius: 0;
  }
  @media all and (max-width: 959px) {
    &.top-large {
      margin-top: 90px;
    }
    margin-top: 0px;
  }
  @media all and (max-width: 479px) {
    padding-top: 32px;
  }
}

.order-wrapper {
  display: block;
  width: 100%;
}

.order-0 {
  position: sticky;
  top: 60px;
  align-self: flex-start;
  width: 200px;

  nav {
    position: fixed;
    width: 200px;
    top: 108px;
    height: calc(100vh - 120px);
    overflow-y: auto;

    > ul {
      padding-bottom: 30px;
    }
  }
}

.order-1 {
  height: 100%;
  flex: 1;
  animation: start 0.3s;
}

.order-2 {
  width: 200px;
  position: sticky;
  top: 84px;
  align-self: flex-start;
  padding-top: 20px;
}

@keyframes start {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

// Media querys

@media all and (min-width: 959px) {
  .order-wrapper {
    padding: 24px;
    display: flex;
  }
}
