{{ define "main" }}
<div class="w-100 ph4 pb5 pb6-ns pt1 mt4 pt3-ns">
    <div class="flex-l">
	<!--
        <div class="order-2 w-100 w-20-l ph5-m ph0-l mb4 sticky">
            <aside class="fixed-lTK mw5-l right-0 f6 bl-l b--moon-gray pv4 pv0-ns ph4-l nested-list-reset nested-links nested-copy-line-height">
                <p class="b">What'ss on this Page</p>
                <ul>
                    <li><a href="#last-updated">Last Updated</a></li>
                    <li><a href="#least-recently-updated">Least Recently Updated</a></li>
                     <li><a href="#todos">Pages marked with TODO</a></li>
                </ul>
            </aside>
        </div>
	-->	
        <div class="w-100">
		
		
		
	<div class="search">
  <header>
    <h1>{{ .Title }}</h1>
    {{/* partial "debugprint.html" (site.GetPage "/search") */}}
  </header>

  <form action="{{ .Permalink }}">
    <input id="search-query" name="q"/>
  </form>
  <hr />

  <div id="search-results"></div>
</div>

<template id="search-result-template"><div class="search_summary">
  <h2 class="post-title no-text-decoration"><a class="search_link search_title" href=""></a></h2>
  <p><em class="search_snippet"></em></p>
  <small>
    <table>
      <tr class="search_iftags"><td><strong>Tags</strong></td><td class="search_tags"></td></tr>
      <tr class="search_ifcategories"><td><strong>Categories</strong></td><td class="search_categories"></td></tr>
    </table>
  </small>
  </div></template>	
		
	
		
		
		
		
		<!--
            {{ $byLastMod :=  .Site.RegularPages.ByLastmod  }}
            {{ $recent := ($byLastMod | last 30).Reverse }}
            {{ $leastRecent := $byLastMod | first 10 }}            
            <h2 id="last-updated">Last Updated</h2>
            {{ partial "maintenance-pages-table" $recent }}
            <h2 id="least-recently-updated">Least Recently Updated</h2>
            {{ partial "maintenance-pages-table" $leastRecent }}

            {{/* Don't think this is possible with where directly. Should investigate. */}}
            {{ .Scratch.Set "todos" slice }}
            {{ range .Site.RegularPages }}
                 {{ if .HasShortcode "todo" }}
                 {{ $.Scratch.Add "todos" . }}
                 {{ end }}
            {{ end }}
            <h2 id="todos">Pages marked with TODO</h2>
            {{ partial "maintenance-pages-table" (.Scratch.Get "todos") }}
		
		-->
		
		
        </div>
    </div>
</div>

  <!-- If you don't need IE 11 support you can remove this next script block -->
  <script type="text/javascript">
    if (window.navigator.userAgent.indexOf('Trident/') > 0) {
      let urls = [
        {{ "js/libs/iecompat/promises.min.js" | absURL }},
        {{ "js/libs/iecompat/fetch.min.js" | absURL }},
        {{ "js/libs/iecompat/template.min.js" | absURL }},
        {{ "js/libs/iecompat/remove.min.js" | absURL }}
      ];
      let head = document.getElementsByTagName("head")[0];
      urls.forEach(function(url) {
        let script = document.createElement("script");
        script.src = url;
        head.appendChild(script);
      });
    }
  </script>
  <!-- These are the two libraries needed for current browsers. -->
  <script src={{ "js/libs/fuse.js/3.2.1/fuse.min.js" | absURL }}></script>
  <script src={{ "js/libs/mark.js/9.0.0/mark.min.js" | absURL }}></script>

  <!-- Below works *only if* this theme component is named "hugo-search-fuse-js"
       AND *if* the themesDir is left at the default value of "themes".  -->
  {{ $search_js_md5 := (readFile "themes/hugo-search-fuse-js/static/js/search.js" | md5) }}
  <script src={{ printf "%s?%s" ("js/search.js" | absURL) $search_js_md5 }}></script>

{{ end }}

